<h1>Articles</h1>

<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
        {% for article in pagination %}
        <tr>
            <td>{{ article.libelle }}</td>
            <td>{{ article.prix }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% if pagination.haveToPaginate %}
<div class="pagination">
    <ul>
        {% if pagination.previousPage %}
        <li><a href="{{ path('article.index', {'page': pagination.previousPage}) }}">Précédent</a></li>
        {% endif %}
        {% for page in pagination.pages %}
        <li {% if page==pagination.currentPage %}class="active" {% endif %}>
            <a href="{{ path('article.index', {'page': page}) }}">{{ page }}</a>
        </li>
        {% endfor %}
        {% if pagination.nextPage %}
        <li><a href="{{ path('article.index', {'page': pagination.nextPage}) }}">Suivant</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}